<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Trivia Land!</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1 class="header display-2 p-2 bg-light">
      Trivia Olympics
    </h1>
    <div class="col-5">
      <div class="game-board p-3">
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="box"><img
            class="logo"
            src="../img/ghost-solid.svg"
            alt="black and white gamepiece ghost"
          /></div>
        <div class="box">2</div>
        <div class="box" id="level2">
          <p>LEVEL UP</p>
        </div>
        <div class="box">4</div>
        <div class="box">THE END
          <i class="material-icons">emoji_events</i></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
        <div class="wall"></div>
      </div>
    </div>

    {{{body}}}

    {{#if loggedIn}}
      <button class="no-button" id="logout">Logout</button>
    {{/if}}
    {{! <footer>
      <button id="logout" class="btn logout-button">Logout</button>
    </footer> }}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"
    ></script>
    <script src="../js/animation.js"></script>
    <script src="/js/logout.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/signup.js"></script>
  </body>

</html>