<div class="post card">
  <div class="card-header">
    <h2>Create New Question</h2>
  </div>
  <form id="new-question-form" class="card-body">
    <label class="form-label" for="question">Question</label>
    <input type="text" name="question" class="form-input" />

    <label class="form-label" for="correct-answer">Correct Answer</label>
    <textarea name="correct-answer" class="form-input"></textarea>

    <label class="form-label" for="answer2">Other Choice 1</label>
    <textarea name="answer2" class="form-input"></textarea>

    <label class="form-label" for="answer3">Other Choice 2</label>
    <textarea name="answer3" class="form-input"></textarea>

    <label class="form-label" for="answer4">Other Choice 3</label>
    <textarea name="answer4" class="form-input"></textarea>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/addQuestionForm.js"></script>