<!--<div class="post card">
  <div class="card-header">
    <h2>Create New Question</h2>
  </div>
  <form id="new-question-form" class="card-body">
    <label class="form-label" for="question">Question</label>
    <input type="text" name="question" class="form-input" />

    <label class="form-label" for="correct-answer">Correct Answer</label>
    <textarea name="correct-answer" class="form-input"></textarea>

    <label class="form-label" for="answer2">Other Choice 1</label>
    <textarea name="answer2" class="form-input"></textarea>

    <label class="form-label" for="answer3">Other Choice 2</label>
    <textarea name="answer3" class="form-input"></textarea>

    <label class="form-label" for="answer4">Other Choice 3</label>
    <textarea name="answer4" class="form-input"></textarea>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/addQuestionForm.js"></script>

-->

<div class="container">
  <div class="questions col">
    <div class="col-md">
      <div class="col">
    <h2>Create New Question</h2>
   
    <form class="card-body new-question-form">
      <div class="form-group">
        <label for="question" class="form-label">New Question:</label>
        <br>
        <input class="form-input" type="text" id="question" />
      </div>
      <div class="form-group">
        <label for="correct-answer" type="text" class="form-label">Correct Answer:</label>
        <br>
        <input class="form-input" type="text" id="correct"/>
      </div>
       <div class="form-group">
        <label for="answer2" class="form-label">Incorrect Answer 1:</label>
        <br>
        <input class="form-input" type="text" id="answer2" />
      </div>
      <div class="form-group">
        <label for="answer3" class="form-label">Incorrect Answer 2:</label>
        <br>
        <input class="form-input" type="text" id="answer3" />
      </div>
      <div class="form-group">
        <label for="answer4" class="form-label">Incorrect Answer 3:</label>
        <br>
        <input class="form-input" type="text" id="answer4" />
      </div>
      <br>
      <div class="form-group mt-2 pb-2">
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-primary" href="/">Back</a>
      </div>
      
    </form>
  </div>
  
</div>
<script src="/js/addQuestion.js"></script>


