{{! changed IDs }}
<div class="container text-center">
  <div class="questions col inline">
    <div class="col-md">
      <div class="col">
        <h3 class="mt-3 mb-3">Welcome,
          {{username}}! Choose a character:</h3>

        <form action="/characterChoice" name="form">
           
          <input type="radio" id="1" name="character" value="ghost" />
           
          <label for="ghost"><img
              class="choose"
              src="../img/ghost-solid.svg"
              alt="black and white gamepiece ghost"
            /></label><br /><br />
           
          <input type="radio" id="2" name="character" value="dragon" />
           
          <label for="dragon"><img
              class="choose"
              src="../img/dragon-solid.svg"
              alt="black and white gamepiece dragon"
            /></label><br /><br />
           
          <input type="radio" id="3" name="character" value="spy" />
           
          <label for="spy"><img
              class="choose"
              src="../img/spy-solid.svg"
              alt="black and white gamepiece spy"
            /></label><br /><br />
           
          <input type="radio" id="4" name="character" value="rocket" />
           
          <label for="rocket"><img
              class="choose"
              src="../img/rocket-solid.svg"
              alt="black and white gamepiece rocket"
            /></label><br /><br />
          <input type="submit" value="Submit" />
        </form>
      </div>
        <button onclick="addQuestion()">Add a question!</button>
    </div>

  </div>
</div>


<script src="/js/chooseCharacter.js"></script>

