    <div class="container">

        <aside class="col-5">
            <div class="game-board p-3">
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="box"><img class="logo" src="../img/ghost-solid.svg" alt="black and white gamepiece ghost"></div>
                <div class="box">2</div>
                <div class="box" id="level2">
                    <p>LEVEL UP</p>
                </div>
                <div class="box">4</div>
                <div class="box">THE END <i class="material-icons">emoji_events</i></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
            </div>
        </aside>
        <div class="questions col inline">
            <div class="col-md-6">
                <div class="col">
                    <h3 class="mt-3 mb-3">Choose a character:</h3>

                    <form action="/character">
                         
                        <input type="radio" id="ghost" name="ghost" value="ghost" />
                         
                        <label for="ghost"><img class="logo choose" src="../img/ghost-solid.svg"
                                alt="black and white gamepiece ghost" /></label><br /><br />
                         
                        <input type="radio" id="dragon" name="dragon" value="dragon" />
                         
                        <label for="dragon"><img class="logo choose" src="../img/dragon-solid.svg"
                                alt="black and white gamepiece dragon" /></label><br /><br />
                         
                        <input type="radio" id="spy" name="spy" value="spy" />
                         
                        <label for="spy"><img class="logo choose" src="../img/spy-solid.svg"
                                alt="black and white gamepiece spy" /></label><br /><br />
                         
                        <input type="radio" id="rocket" name="rocket" value="rocket" />
                         
                        <label for="rocket"><img class="logo choose" src="../img/rocket-solid.svg"
                                alt="black and white gamepiece rocket" /></label><br /><br />
                        <input type="submit" value="Submit" />
                    </form>
                </div>


            </div>

        </div>
    </div>

    <div class="questions">