 <aside class="col-5">
            <div class="game-board p-3">
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="box"><img class="logo" src="../img/ghost-solid.svg" alt="black and white gamepiece ghost"></div>
                <div class="box">2</div>
                <div class="box" id="level2">
                    <p>LEVEL UP</p>
                </div>
                <div class="box">4</div>
                <div class="box">THE END <i class="material-icons">emoji_events</i></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
                <div class="wall"></div>
            </div>
        </aside>