<div class="container">
    <div class="questions col inline">
        <div class="col-md-6">
            <div class="col">
                <h3 class="mt-3 mb-3">Question</h3>

                <form action="/question">
                
                
                
                
                <input type="radio" id="answer1">



                <input type="radio" id="answer2">




                <input type="radio" id="answer3">




                <input type="radio" id="answer4">

                </form>
            </div>
            

        </div>

    </div>

</div>