    <form class="login">

    </form>

    <div>
        <input type="email" id="email-input">
        <input type="email" id="username-input">
    </div>

    <div>
        <input type="password" id="password-input">
    </div>