.game-board {
    display: grid;
    grid-template-columns: 10px 80px 80px 80px 80px 80px 80px 80px 10px;
    grid-template-rows: 10px 80px 10px;
    /* justify-content: left; */
    align-content: center;
    justify-content: center;
    font-family: sans-serif;
    /* margin-left: 275px; */
    flex-wrap: wrap;
    flex-flow: wrap;
}

img {
    width: 65px;
    height: 65px;
}

input {
    margin-top: 2px;
    margin-bottom: 2px;
}

.questions {
    justify-content: right;
    flex-flow: wrap;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 10px; */
    margin-top: 20px;
}

.inline {
    display: inline-flex;
}

.header {
    padding: 80px;
    border: 5px;
    text-align: center;
    color: purple;
}

/* making boxes circular */
.box {
    background-color: #d9d9d9;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* .wall {
    background-color: black;
}

.lava {
    background-color: black;
    border: 2px solid black;
} */

.box-2 {
    width: 275px;
    border: 15px solid black;
    padding: 50px;
    margin: 10px;
    float: right;
}

.choose {
    width: 25px;
    height: 25px;
}

h1 {
    flex-flow: flex;
}

body {
    /* background: url(../img/download.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#zero {
    background-color: white;
}

#one {
    background-color: rgb(45, 134, 236);
}


#two {
    background-color: rgb(231, 228, 29);
}

#three {
    background-color: black;
}

#four {
    background-color: rgb(49, 187, 84);
}

#five {
    background-color: rgb(240, 58, 38);
}