.game-board {
    display: grid;
    grid-template-columns: 10px 80px 80px 80px 80px 80px 10px;
    grid-template-rows: 10px 80px 10px;
    justify-content: left;
    font-family: sans-serif;
    margin-left: 275px;
    flex-wrap: wrap;
    flex-flow: wrap;
  
}

img {
    width: 65px;
    height: 65px;
}

.questions {
    justify-content: right;
    flex-flow: wrap;
    margin-top: 120px;
    
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 50px;
    
   
    
}

.inline {
    display: inline-flex;
}

.header {
    padding: 80px;
    border: 5px;
    text-align: center;
    color: purple;
}

.box {
    background-color: #d9d9d9;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    background-color: black;
}

.lava {
    background-color: black;
    border: 2px solid black;
}

.box-2 {
    width: 275px;
    border: 15px solid black;
    padding: 50px;
    margin: 10px;
    float: right;
}

.choose {
    width: 25px;
    height: 25px;
    
}

#level2 {
    background-color: orange;
    opacity: 0.65;
}

h1 {
    flex-flow: flex;
}

body { 
    /* background: url(../img/download.jpg) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
